/* VARIABLES */
:root {
    --header-blue: #2c3e50;
    --jumbotron-green: #1abc9c;
    --footer-top: #3a546d;
}

/* RESET */
img {
    max-width: 100%;
}

/* ********** GENERAL ********** */
body {
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

/* Button */
.btn {
    color: white;
}

/* Star between two borders */
.star {
    margin-bottom: 1rem;
}

.star .ms_border {
    height: 5px;
    width: 15%;
    border-radius: 5px;
}

.white-border {
    background-color: white;
}

.blue-border {
    background-color: var(--header-blue);
}

/* ********** HEADER ********** */
header {
    background-color: var(--header-blue);
    color: white;
}

.navbar-brand {
    color: white;
}

/* Header Hamburger menu */
.navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler span {
    padding-top: 6px;
}

.navbar-toggler-icon {
    background-image: none;
    color: grey;
    font-size: 1.5em;
}

/* ********** MAIN ********** */

/* ---------- Jumbotron ---------- */
.ms_jumbotron {
    background-color: var(--jumbotron-green);
}

.ms_jumbo-container {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

.ms_jumbo-container img {
    width: 200px;
}

/* * Tablet layout and desktop * */
@media screen and (min-width: 768px) {
    .ms_jumbo-container {
        width: 50%;
    }
}

/* ---------- Portfolio section ---------- */
.portfolio {
    padding: 3rem 0;
    color: var(--header-blue);
}

.ms_card img {
    border-radius: 10px;
}

/* ---------- About section ---------- */
.about {
    background-color: var(--jumbotron-green);
    color: white;
    padding: 2rem 0 1rem;
}

.ms_container {
    width: 60%;
    margin: 0 auto;
    max-width: 720px;
    /* debug */
    background-color: cadetblue;
}

.button .btn {
    border: 1px solid white;
    margin-top: 1.5rem;
}

/* * Tablet and desktop layout * */
@media screen and (min-width: 768px) {
    .about {
        padding: 4rem 1.5rem;
    }

    .about h5 {
        font-size: 2.5rem;
    }
}

/* ---------- Contact me section ---------- */
.contact-me {
    color: var(--header-blue);
    padding: 2rem 0 1rem;
}

.contact-me .ms_container {
    /* debug */
    min-height: 300px;
}

/* * Tablet and desktop layout * */
@media screen and (min-width: 768px) {
    .contact-me {
        padding: 4rem 1.5rem;
    }

    .contact-me h5 {
        font-size: 2.5rem;
    }
}

/* ********** FOOTER ********** */
/* Footer top */
.ms_footer-top {
    background-color: var(--footer-top);
    padding: 2rem 0;
}

.socials-links ul {
    padding-left: 0;
    gap: 10px;
}

.socials-links a {
    border: 2px solid white;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

#green-link {
    color: var(--jumbotron-green);
}

/* Footer bottom */
.ms_footer-bottom {
    background-color: var(--header-blue);
    padding: 2rem 0 3rem;
}